<mat-table [dataSource]="beers">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
    <mat-cell *matCellDef="let beer">{{ beer.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let beer">
      {{ beer.name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tagline">
    <mat-header-cell *matHeaderCellDef>Tagline</mat-header-cell>
    <mat-cell *matCellDef="let beer">{{ beer.tagline }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let beer; columns: displayedColumns"
    routerLink="beer/{{ beer.id }}"
  ></mat-row>
</mat-table>
