<table>
  <thead>
    <th>
      Id:
    </th>
    <th>
      Name:
    </th>
    <th>
      Food pairings:
    </th>
  </thead>
  <tr
    [class.selected]="beer === selectedBeer"
    *ngFor="let beer of beers"
    (click)="selectBeer(beer)"
  >
    <td>
      {{ beer.id }}
    </td>
    <td>
      {{ beer.name | uppercase }}
    </td>
    <td>
      <div *ngFor="let foodPairing of beer.food_pairing">
        <span>{{ foodPairing }};</span>
      </div>
    </td>
    <td>
      <label>
        name:
        <input [(ngModel)]="beer.name" placeholder="name" />
      </label>
    </td>
  </tr>
</table>

<app-beer-details [beer]="selectedBeer"></app-beer-details>
